<template>
    <div>
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" v-if="auth.authUser !== null">
      <div class="container">
        <router-link to='/' class="navbar-brand">@Abdul_Reality</router-link>
        <!-- <a class="navbar-brand" href="">@Abdul_Reality</a> -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <router-link to="/" class="nav-link">Home</router-link>
            </li>

            <li class="nav-item" v-if="auth.authUser !== null">
              <router-link to="/create-post" class="nav-link">Add Post</router-link>
            </li>

            <li class="nav-item" v-if="auth.authUser === null">
              <router-link to="/access/login" class="nav-link">Login</router-link>
            </li>

            <li class="nav-item" v-if="auth.authUser === null">
              <router-link to="/access/register" class="nav-link">SignUp</router-link>
            </li>

            <li class="nav-item" v-if="auth.authUser !== null">
              <router-link to="/user/profile" class="nav-link">Profile</router-link>
            </li>

            <li class="nav-item" v-if="auth.authUser !== null">
                <form>
              <button type="button" id="not-button" @click.prevent="logout" class="nav-link">Logout</button>
                </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    name: 'Header',

    data() {
        return {

        }
    },
    methods: {
      logout() {
        this.$store.dispatch('clearUserObject');
        localStorage.removeItem('authUser');
        this.$router.push({name: 'login'});
      },
    },
    computed: mapState({
      auth:state => state.auth
    })

}
</script>

<style>
#not-button {
  background-color: transparent;
  border-style: none;
  font-size: 14px;
  font-weight: normal;
}


</style>
