<template>
    <div>
        <!-- Page Header -->
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>My Thought Hub</h1>
              <span class="subheading">I Think, Write & Inspire Change in Minds</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview" v-for="post in posts" :key="post.id">
            <router-link :to="'/' + post.id">
              <h2 class="post-title">
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                {{post.text}}
              </h3>
            </router-link>
            <p class="post-meta">Posted by
              <a href="#">{{post.author}}</a>
              on {{post.updated}}</p>
          </div>
          <hr>
        
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>
    </div>
</template>

<script>
import { postsUrl, getHeaders } from '../config'
export default {
    name: 'Home',

    data() {
        return {
            posts: [],
            
        }
    },
    created() {
        this.$http.get(postsUrl, { headers: getHeaders() })
        .then(res => {
            this.posts = res.body
        }, err => {
            console.log(err.body)
        })

    }
}
</script>

<style>
header.masthead {
    background-image: url('../assets/img/home-bg.jpg');
}
</style>
