<template>
    <div>
       <!-- Page Header -->
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              <span class="meta">Posted by {{post.author}}
                on {{post.updated}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
            {{post.text}}
            </p>
          </div>
        </div>
      </div>
    </article>

    <hr>
    </div>
</template>

<script>
import { postsUrl, getHeaders } from '../../config'
export default {
    name: 'DetailPost',

    data() {
        return {
            paramId: this.$route.params.id,
            post: {},
        }
    },
    created() {
        this.$http.get(postsUrl + this.paramId + '/', { headers: getHeaders() })
        .then(res => {
            this.post = res.body;
        }, err => {
            console.log(err.body)
        })
    }
}
</script>

<style>
header.masthead {
background-image: url('../../assets/img/post-bg.jpg');
}
</style>
