<template>
    <div>
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <br/>
          <h1 class="text-center">Add New Post</h1> <br/>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="title">Title</label>
                <input type="text" v-model="title" class="form-control" placeholder="Title" id="title" required data-validation-required-message="Please enter your title.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="text">Body</label>
                <textarea rows="5" v-model="text" class="form-control" placeholder="Body" id="text" required data-validation-required-message="Please enter post Body...."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="button" @click.prevent="createPost" class="btn btn-primary" id="sendMessageButton">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr>
    </div>
</template>

<script>
import {postsUrl, getHeaders } from '../../config'
export default {
    name: 'CreatePost',

    data() {
        return {
            title: null,
            text: null,
        }
    },

    methods: {
        createPost() {
            const postObject = {
                title: this.title,
                text: this.text
            }

            this.$http.post(postsUrl, postObject, { headers: getHeaders() })
            .then(res => {
                this.$router.push({name: 'home'})
            }, err => {
                console.log(err.body)
            })
        }
    }
}
</script>

<style>

</style>
