<template>
  <div id="app">
   <app-header></app-header>
   <router-view></router-view>
   <app-footer></app-footer>
  </div>
</template>

<script>
import mapState from 'vuex'
import Header from './components/layouts/header.vue';
import Footer from './components/layouts/footer.vue';

export default {
  name: 'app',
  components: {
    'app-header': Header,
    'app-footer': Footer,
  },

  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },

 
 created() {
   const userData = JSON.parse(localStorage.getItem('authUser'))
   this.$store.dispatch('setUserObject', userData)
 }
}
</script>

<style>

</style>
