<template>
    <div>
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <br/>
          <h1 class="text-center">Login to Account</h1> <br/>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="username">Username</label>
                <input type="text" v-model="username" class="form-control" placeholder="Username" id="username" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <!-- <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="email">Email</label>
                <input type="email" v-model="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your Email.">
                <p class="help-block text-danger"></p>
              </div>
            </div> -->
             <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="password">Password</label>
                <input type="password" v-model="password" class="form-control" placeholder="Password" id="password" required data-validation-required-message="Please enter your Password.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="button" @click.prevent="login" class="btn btn-primary" id="sendMessageButton">Login</button>
            </div>
             <hr>
            <router-link to="/access/register">Don't Have an Account? Register</router-link>
          </form>
        </div>
      </div>
    </div>

    <hr>
    </div>
</template>

<script>
import { tokenAuth, userUrl, getHeaders } from '../../config'
export default {
    name: 'Login',

    data() {
        return {
            username: null,
            password: null,
            email: null,
            currentUser: this.$store.state.currentUser,
        }
    },

    methods: {
        login() {
            const postObject = {
                username: this.username,
                // email: this.email,
                password: this.password
            };

            const authUser = {};

            this.$http.post(tokenAuth, postObject)
            .then(res => {
                authUser.token = res.body.token
                localStorage.setItem('authUser', JSON.stringify(authUser));

                // get user info
                this.$http.get(userUrl, {headers: getHeaders()})
                .then(res => {
                  // store user info into local storage
                  authUser.pk = res.body.pk
                  authUser.username = res.body.username
                  authUser.email = res.body.email
                  authUser.first_name = res.body.first_name
                  authUser.last_name = res.body.last_name
                  localStorage.setItem('authUser', JSON.stringify(authUser));
                  // set user state
                  this.$store.dispatch('setUserObject', authUser)
                }, err => {
                  console.log(err.body)
                })
                // end get user info
                
                // redirect to post list
                this.$router.push({name: 'home'})
            }, err => {
                if(err.status === 400) {
                    alert('Username or Password is incorrect');
                    this.password = ''
                    console.log(err.body)
                }
                
            })
        },

    },
}
</script>

<style>

</style>
