<template>
    <div>
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <br/>
          <h1 class="text-center">Create Account</h1> <br/>
          <form name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="username">Username</label>
                <input type="text" v-model="username" class="form-control" placeholder="Username" id="username" required data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="email">Email</label>
                <input type="email" v-model="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your Email.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="password1">Password</label>
                <input type="password" v-model="password1" class="form-control" placeholder="Password" id="password1" required data-validation-required-message="Please enter your Password.">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="password2">Confirm Password</label>
                <input type="password" v-model="password2" class="form-control" placeholder="Confirm Password" id="password2" required data-validation-required-message="Confirm your Password.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="button" @click.prevent="createUser" class="btn btn-primary" id="sendMessageButton">Join Us</button>
            </div>
            <hr>
            <router-link to="/access/login">Already Registered? Login</router-link>
          </form>
        </div>
      </div>
    </div>

    <hr>
    </div>
</template>

<script>
import registerUrl from '../../config';
export default {
    name: 'Register',

    data() {
        return {
            username: null,
            email: null,
            password1: null,
            password2: null,
        }
    },

    methods: {
        createUser() {
            const postObject = {
                username: this.username,
                email: this.email,
                password1: this.password1,
                password2: this.password2
            }

            this.$http.post('http://127.0.0.1:8000/api/v1/rest-auth/registration/', postObject)
            .then(res => {
                this.$router.push({name: 'login'})
            }, err => {
                if(err.status === 400) {
                    alert('A User exists with these same Credentials');
                }

                this.password1 = ''
                this.password2 = ''
            })
        }
    }
}
</script>

<style>

</style>
