<template>
    <div>
     <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <br/>
<div class="card">
  <div class="card-header">
    <h3 class="text-center">User Profile</h3> <br/>
  </div>
  <div class="card-body">
<ul class="list-group">
  <li class="list-group-item"><h5>Username</h5> {{username}}</li>
  <li class="list-group-item"><h5>Email</h5> {{email}}</li>
  <li class="list-group-item"><h5>First Name</h5> {{firstName}}</li>
  <li class="list-group-item"><h5>Last Name</h5> {{lastName}}</li>
  <li class="list-group-item"><h5>Phone</h5> {{phone}}</li>
  <!-- <li class="list-group-item">{{}}</li> -->
</ul> <br/>
    <router-link to='/user/profile/update' class="btn btn-primary">Update</router-link>
  </div>
</div>
        </div>
      </div>
    </div>

    <hr>
    </div>
</template>

<script>
import { customUserUrl, getHeaders} from '../../config';
export default {
    name: 'showUser',

    data() {
        return {
            username: null,
            email: null,
            id: null,
            firstName: null,
            lastName: null,
            phone: null,
        }
    },

    created() {
            this.$http.get(customUserUrl, { headers: getHeaders() })
            .then(res => {
                this.username = res.body[0].username;
                this.firstName = res.body[0].first_name;
                this.lastName = res.body[0].last_name;
                this.email = res.body[0].email;
                this.phone = res.body[0].phone;
                this.id = res.body[0].id;
            }, err => {
                console.log(err.body)
            })
    }
}
</script>

<style>
.card {
    margin-top: 50px;
}
</style>
